html,
body,
* {
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 32px;
}

.menu > h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.menu > button {
  padding: 12px 24px;
  font-size: 1.5rem;
  margin: 0 64px;
  background: blue;
  color: white;
  border-radius: 12px;
}
